body {
    background: #003354;
    width: auto;
}

div#hormenu {
    z-index: 3;
    width: 100%;
    float: left;
    margin-top: 1%;
    top: 0%;
    position: absolute;
}

div#hormenu ul {
    z-index: 3;
    margin-top: 3%;
    margin-left: 53.5%;
    list-style-type: none;
}

div#hormenu li {
    z-index: 3;
    float: left;
    margin: 0;
    padding: 0%;
    color: rgb(214, 214, 214);
}

div#hormenu a {
    z-index: 3;
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.categorie {
    z-index: 3;
    font-size: 150%;
}

div#hormenu a:hover {
    color: #003354;
    z-index: 3;
}

div#hormenu li ul {
    z-index: 3;
    display: none
}

div#hormenu li:hover ul {
    z-index: 3;
    display: block;
    position: absolute;
    background-color: rgb(33, 164, 245);
    width: 120px;
    padding: 0;
    margin: 0 0 0;
    text-align: left;
}

#but {
    border: none;
    background-color: white;
    font-size: 50px;
    color: #003354;
}

div#pagina {
    margin-top: 32%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;
    background-color: white;
    z-index: 0;
    color: black;
    position: relative;
}

#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: auto;
    max-width: 100%;
}

#scritta {
    left: 2%;
    max-width: 100%;
    height: auto;
}

#prova {
    max-width: 100%;
    width: auto;
    height: auto;
}

#logo {
    position: absolute;
    top: 8%;
    left: 0%;
    right: 60%;
    z-index: 4;
}

div#hormenu li li {
    z-index: 3;
    border: none;
    width: auto;
}

div#hormenu li li a {
    z-index: 3;
    padding: auto;
}

html,
body {
    height: 100%;
}

#nonFooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#f {
    background-color: #003354;
    color: blanchedalmond;
    z-index: 3;
    height: 100px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    position: relative;
}

a {
    color: blanchedalmond;
    text-decoration: none;
}

#push {
    position: absolute;
    z-index: 2;
    margin-left: 15%;
    margin-top: 0%;
    height: 100px;
    width: 70%;
    background-color: white;
}

.titoli {
    padding-top: 4%;
    position: relative;
    margin-left: 5%;
    color: #003354;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 200%;
}

.google-maps>iframe {
    border-left: 3px solid #003354;
    border-top: 3px solid #003354;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.scritte {
    margin-left: 10%;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 110%;
}

.container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.testo {
    width: 40%;
    padding: 10px;
}

.google-maps {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    min-width: 400px;
    height: 650px;
    overflow: hidden;
}