body {
    background: #003354;
    width: auto;
}

div#hormenu {
    z-index: 3;
    width: 100%;
    float: left;
    margin-top: 0%;
    top: 0px;
    position: absolute;
}

div#hormenu ul {
    margin-top: 3%;
    margin-left: 51%;
    list-style-type: none;
}

div#hormenu li {
    float: left;
    margin: 0;
    padding: 0px;
    color: rgb(214, 214, 214);
}

div#hormenu a {
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.categorie {
    font-size: 26px;
}

div#hormenu a:hover {
    color: #003354;
}

div#hormenu li ul {
    display: none
}

div#hormenu li:hover ul {
    display: block;
    position: absolute;
    background-color: rgb(33, 164, 245);
    width: 120px;
    padding: 0;
    margin: 0 0 0;
    text-align: left;
}

div#pagina {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;
    background-color: white;
    z-index: 2;
    color: black;
    position: absolute;
}

#banner {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#logo {
    position: absolute;
    top: 50px;
    left: 13%;
    z-index: 4;
}

div#hormenu li li {
    border: none;
    width: auto;
}

div#hormenu li li a {
    padding: auto;
}


/*
div#f {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 5;
}

footer {
    z-index: 5;
    margin-top: auto;
    position: relative;
    overflow: hidden;
    background-color: #003354;
    color: #e7e7e7;
    font-family: Tahoma;
}

footer .social {
    text-align: center;
    padding-bottom: 15px;
}

footer .social>a:hover {
    opacity: 0.6;
}

footer .copyright {
    margin-top: 7px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0;
}
*/

html,
body {
    height: 100%;
}

#nonFooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#f {
    background-color: #003354;
    z-index: 3;
    height: 100px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    position: absolute;
}

#push {
    position: absolute;
    z-index: 2;
    margin-left: 15%;
    margin-top: 0px;
    height: 100px;
    width: 70%;
    background-color: white;
}