.wrapper {
    width: 85%;
    margin: 0 auto;
}

.page-header h2 {
    margin-top: 0;
}

table tr td:last-child a {
    margin-right: 15px;
}

body {
    font-family: "Lato", sans-serif;
}

.pagina {
    display: block;
    position: absolute;
    margin-left: 30%;
    width: 70%;
    z-index: 5;
}